# Supabase Environment Variables
VITE_SUPABASE_URL=https://hsbiavzreriwbmpaaznv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhzYmlhdnpyZXJpd2JtcGFhem52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2MDQ2MDQsImV4cCI6MjA4OTE4MDYwNH0.VjvCTj7m6t_sftuZoyuAi50GERS7vgzFCjWQwH1EhDg
